﻿
@{
    Layout = null;
}
@using MVCWebAPIClient1212387.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getProducts</title>
</head>
<body>
    <div> 
        @{
            List<Product> products = (List<Product>)ViewData["products"];
            foreach (Product temp in products)
            {
                <div>
                    Name: @temp.Name
                    <br />
                    Category: @temp.Category
                    <br />
                    Price: @temp.Price
                    <br />
                    Username: @temp.username

                </div>
                <br />
                <br />
            }
        }
    </div>
</body>
</html>
