﻿@{
    ViewBag.Title = "Home Page";
}
@model MVCWebAPIClient1212387.Models.Users
@using MVCWebAPIClient1212387.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getAllUser</title>
</head>
<body>
    <div>
        <a href="@Url.Action("getAllUser1212387", "Users")">
            Get All User
        </a>

        <br /><br />
        @using (Html.BeginForm("getAllUserByUsername1212387", "Users", FormMethod.Post))
        {
            <span>username: </span>
             @Html.TextBoxFor(model => model.username)
            <input type="submit" value="search">
        }

        <br /><br />
        <p>add user</p>
        @using (Html.BeginForm("addUser1212387", "Users", FormMethod.Post))
        {
            <span>username: </span>
            @Html.TextBoxFor(model => model.username)
            <br />
            <span>password: </span>
            @Html.TextBoxFor(model => model.password)
            <input type="submit" value="add">
        }

        <br /><br />
        <p>delete user</p>
        @using (Html.BeginForm("deleteUser1212387", "Users", FormMethod.Post))
        {
            <span>username: </span>
            @Html.TextBoxFor(model => model.username)
           
            <input type="submit" value="delete">
        }

        <br /><br />
        <p>update user</p>
        @using (Html.BeginForm("updateUser1212387", "Users", FormMethod.Post))
        {
            <span>username: </span>
             @Html.TextBoxFor(model => model.username)
            
           
            
            <br />
            <span>new password: </span>
            @Html.TextBoxFor(model => model.confirmpassword)
            
            <input type="submit" value="search">

        }

        <br /><br />
        <p>search category</p>
        
            <span>name category: </span>
            @{
                Product temp = new Product();
                <input type="text" value="@temp.Category" />
            }



            <button type="button" onclick="window.location.href='@Url.Action("searchCategory1212387/"+@temp.Category, "Product")'">search</button>

        


    </div>
</body>
</html>

