﻿
@{
    Layout = null;
}
@using MVCWebAPIClient1212387.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getAllUserByUsername</title>
</head>
<body>
    <div> 
        @{
            Users user = (Users)ViewData["user"];
            @user.username;
            <br />
            @user.password;
        }
    </div>
</body>
</html>
