﻿
@{
    Layout = null;
    
}
@using MVCWebAPIClient1212387.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getAllUser</title>
</head>
<body>
    <div> 
        @{
            List<Users> users = (List<Users>)ViewData["users"];
            foreach (Users temp in users)
            {
                <div>
                    username: @temp.username
                    <br />
                    password: @temp.password
                </div>
            <br />
            <br />
            }
        }
    </div>
</body>
</html>
